<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="bacstore" value="D:\AuthEP\svn\software\IDP\IDPWebsite\Bac\"/>
    
    <!-- The Identity Provider -->
    <add key="issuer" value="www.authep.nl" />
    <!-- The Thumbprint of the certificate to sign the RSTR-->
    <!--<add key="certificateThumbprint" value="D47DE657FA4902555902CB7F0EDD2BA9B05DEBB8" /> -->
    <add key="certificateThumbprint" value="e395499c27164df4fabfd8f2cfd589234bafc3a3" />
    <!-- The Base address of the WS-Trust endpoint -->
    <add key="baseAddress" value="http://www.authep.nl:8000/sample/trust" />
    <!-- The Base address of the MEX endpoint -->
    <add key="baseMexAddress" value="https://www.authep.nl:8001/sample/trust" />
  </appSettings>

  <system.serviceModel>
    <services>
      
      <service behaviorConfiguration="SampleSecurityTokenServiceBehavior"
               name="nl.telin.authep.sts.CertificateAuthSTS">
          <endpoint address="sts"
                    binding="customBinding"
                    bindingConfiguration="X509Binding"
                    contract="nl.telin.authep.sts.IWSTrustContract">
          </endpoint>
        </service>

      <service behaviorConfiguration="SampleSecurityTokenServiceBehavior"
               name="nl.telin.authep.sts.SelfIssuedSamlAuthSTS">
        <endpoint address="sts"
                  binding="wsFederationHttpBinding"
                  bindingConfiguration="SelfIssuedSamlBinding"
                  contract="nl.telin.authep.sts.IWSTrustContract">
        </endpoint>
      </service>

      <service behaviorConfiguration="SampleSecurityTokenServiceBehavior"
         name="nl.telin.authep.sts.UserNameAuthSTS">
        <endpoint address="sts"
                  binding="customBinding"
                  bindingConfiguration="UserNameBinding"
                  contract="nl.telin.authep.sts.IWSTrustContract">
        </endpoint>
      </service>

    </services>

    <bindings>
      <customBinding>
        <binding name='X509Binding'>
          <security authenticationMode="MutualCertificate"/>
          <httpTransport />
        </binding>
        <binding name='UserNameBinding'>
          <security authenticationMode='UserNameForCertificate' keyEntropyMode='ServerEntropy'/>
          <httpTransport />
        </binding>
      </customBinding>

      <wsFederationHttpBinding>
        <binding name='SelfIssuedSamlBinding' >
          <security mode='Message'>
            <message algorithmSuite='Basic192' issuedKeyType='AsymmetricKey'>
              <!-- <issuer address='http://schemas.xmlsoap.org/ws/2005/05/identity/issuer/self' /> -->
              <issuer address='http://schemas.xmlsoap.org/ws/2005/05/identity/issuer/self' />
              <!-- <issuer address='http://www.digid.nl:7000/sample/trust/selfissuedsaml/sts' /> -->
              <claimTypeRequirements>
                <clear />

                <add claimType='http://schemas.xmlsoap.org/ws/2005/05/identity/claims/privatepersonalidentifier' />
                <!-- 
                <add claimType='http://schemas.xmlsoap.org/ws/2005/05/identity/claims/privatepersonalidentifier' />
                <add claimType='http://schemas.xmlsoap.org/ws/2005/05/identity/claims/emailaddress' /> 
                -->
              </claimTypeRequirements>
            </message>
          </security>
        </binding>
      </wsFederationHttpBinding>

    </bindings>

    <behaviors>
      <serviceBehaviors>
          <behavior name="SampleSecurityTokenServiceBehavior">
          <serviceMetadata />
          <serviceCredentials>
            <!--
                  <serviceCertificate findValue="www.fabrikam.com" 
                              storeLocation="LocalMachine" 
                              storeName="My" 
                              x509FindType="FindBySubjectName" />
                              -->
            <issuedTokenAuthentication allowUntrustedRsaIssuers="true"/>
          </serviceCredentials>
        </behavior>
      </serviceBehaviors>
    </behaviors>
  </system.serviceModel>
</configuration>